<html>
	<head>
		<meta charset="UTF-8">

		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/index.css">
		<script src="/js/jquery.js"></script>
		<script src="/js/redux.js"></script>
		<script src="/js/reducer.js"></script>
		<script src="/js/store.js"></script>
		<script src="/js/index.js"></script>

	</head>

	<body>

		<header>
			
		</header>

		<div class="container clearfix p-4">
			<main class="float-left">

				<section class="number-wrraper border p-3 rounded">
	
					<div>

						<button id="add">ADD</button>
						<button id="sub">SUB</button>						
					</div>

					<div id="number">
						0
					</div>
	

				</section>

				<section class="users-wrapper border p-3 mt-4 rounded">
	
					<div>

						<button id="get">AJAX GET USER</button>
						<button id="delete">AJAX DELETE USER</button>						
					</div>

					<div id="users">
						<div id="user">
							<span class="id">1</span>
							<span class="name">Tom</span>
							<span class="age">22</span>
						</div>						
					</div>

	

				</section>
			</main>
			<aside class="float-left px-2">
				<section class="border rounded p-2 h-100">
					我是側邊
				</section>
			</aside>
		</div>


		<footer>
			
		</footer>
	</body>


</html>