<html>
  <head>
    <meta charset="UTF-8">
    <title>jQuery 和 Redux 整合范例</title>
    <meta name="keywords" content="jQuery 和 Redux 整合范例">
    <meta name="description" content="jQuery 和 Redux 整合范例">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/common/header.css">
    <link rel="stylesheet" type="text/css" href="/css/common/aside.css">
    <link rel="stylesheet" type="text/css" href="/css/common/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/pages/index.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/redux.js"></script>
    <script src="/js/reducer.js"></script>
    <script src="/js/store.js"></script>
    <script src="/js/pages/index.js"></script>

  </head>

  <body>

    <header class="bg-secondary">
      <div class="container text-center text-white">
        HEADER

      </div>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">分页一 <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">分页二</a>
            </li>

          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>

    </nav>

    <div class="container text-center mt-3">
      <h1>jQuery 和 Redux 整合范例</h1>
      <h2 class="seo-invisible">REDUX</h2>
    </div>

    <div class="container clearfix py-4">
      <main class="float-left index">


        <section class="number-wrraper border p-3 rounded">
          <h3 class="title text-text mb-2">
            加減記數器
          </h3>
  
          <div class="mb-4">

            <button id="add" type="button" class="btn btn-primary mr-1">ADD</button>
            <button id="sub" type="button" class="btn btn-primary mr-1">SUB</button>						
            <button id="init" type="button" class="btn btn-danger">INIT</button>						
          </div>

          <div id="number">
            0
          </div>
  

        </section>

        <section class="users-wrapper border p-3 mt-4 rounded">
  
          <h3 class="title text-text mb-2">
            模擬 AJAX 異動 用戶資料
          </h3>
          <div class="mb-4">

            <button id="get" type="button" class="btn btn-primary mr-1">AJAX GET USER</button>
            <button id="post" type="button" class="btn btn-primary mr-1">AJAX POST USER</button>
            <button id="put" type="button" class="btn btn-primary mr-1">AJAX PUT USER</button>
            <button id="delete" type="button" class="btn btn-danger">AJAX DELETE USER</button>						
          </div>

          <div class="users table">
            <div class="tr clearfix text-center font-weight-bold">
              <span class="th float-left border-right border-bottom border-top border-light">ID</span>
              <span class="th float-left border-right border-bottom border-top border-light">姓名</span>
              <span class="th float-left border-right border-bottom border-top border-light">性別</span>
              <span class="th float-left border-right border-bottom border-top border-light">年齡</span>
              <span class="th float-left border-right border-bottom border-top border-light">居住地</span>
              <span class="th float-left border-right border-bottom border-top border-light">職業</span>
              <span class="th float-left border-right border-bottom border-top border-light">電話</span>
            </div>
            <div class="user tr clearfix text-center">
              <span class="td float-left border-right border-bottom border-light">1</span>
              <span class="td float-left border-right border-bottom border-light">Tom</span>
              <span class="td float-left border-right border-bottom border-light">男</span>
              <span class="td float-left border-right border-bottom border-light">34</span>
              <span class="td float-left border-right border-bottom border-light">台北</span>
              <span class="td float-left border-right border-bottom border-light">摄影师</span>
              <span class="td float-left border-right border-bottom border-light text-right pr-2">0911-222-333</span>
            </div>						
          </div>

  

        </section>
      </main>
      <aside class="float-left px-2">
        <div class="aside-pseudo border rounded p-2 h-100">
          <section class="">
            我是側邊
          </section>
        </div>

      </aside>
    </div>


    <footer class="bg-dark">
      <div class="container text-center text-white">
        FOOTER
      </div>
    </footer>
  </body>


</html>